server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://ep-hidden-haze-aic3ukv3-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require
    username: neondb_owner
    password: npg_AW9s2fOqyKUj
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true